VITE_EMAILJS_SERVICE_ID=service_im12pji
VITE_EMAILJS_TEMPLATE_ID=template_llw2pyt
VITE_EMAILJS_PUBLIC_KEY=gCfpr50F88PRPOQbK

# Supabase configuration
VITE_SUPABASE_URL=https://your-project.supabase.co
VITE_SUPABASE_ANON_KEY=your-anon-key
